@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    /* Primary */

--Soft-orange: hsl(35, 77%, 62%);
--Soft-red: hsl(5, 85%, 63%);

/* Neutral */

--Off-white: hsl(36, 100%, 99%);
--Grayish-blue: hsl(233, 8%, 79%);
--Dark-grayish-blue: hsl(236, 13%, 42%);
--Very-dark-blue: hsl(240, 100%, 5%);

/* paragraph test */
--font-family : "Inter", sans-serif;
--paragraph: 15px;
}

body{
    --font-family : "Inter", sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.logo{
    position: relative;
    left: 4rem;
}

.btn {
    display: none;
}

.menu {
    display: flex;
    list-style: none;
    font-family: var(--font-family);
    color: var(--Dark-grayish-blue);
    padding: 10px 20px;
    gap: 2.5rem;
    position: relative;
    right: 2.5rem;
}

.menu a{
    text-decoration: none;
    color: var(--Dark-grayish-blue);
}

.menu a:hover{
    color: var(--Soft-red);
}

.grid-container{
    padding: 0 75px;
}

.grid-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    gap: 40px;
}

.future__box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.future__box .box__description{
    color: var(--Dark-grayish-blue);
    font-family: var(--font-family);
    line-height: 23px;
    position: relative;
    top: 2rem;
    font-size: var(--paragraph);
    width: 21rem;
}

.grid-row h1{
    font-size: 50px;
    font-family: var(--font-family);
    font-weight: 800;
    width: 260px;
    position: relative;
    top: 1.5rem;
}

.grid-row p{
    color: var(--Very-grayish-blue);
    line-height: 23px;
    position: relative;
    top: 0.5rem;
    font-size: var(--paragraph);
    font-family: var(--font-family);
}

.web-3-img {
    width: 45.7rem;
    height: 18.8rem;
}

.btn__read {
    background-color: var(--Soft-red);
    color: var(--Off-white);
    padding: 14px 45px;
    text-decoration: none;
    font-size: var(--paragraph);
    font-family: var(--font-family);
    font-weight: 700;
    position: relative;
    top: 5rem;
}

.btn__read:hover{
    background-color: var(--Very-dark-blue);
}

.article-side__box {
    background-color: var(--Very-dark-blue);
    width: 21.9rem;
    height: 31.3rem;
    padding: 2rem 1.5rem;
}

.article-side__box h2{
    color: var(--Soft-orange);
    font-size: 40px;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-family: var(--font-family);
}

.article-side__box a{
    color: var(--Off-white);
    margin-bottom: 2rem;
    text-decoration: none;
    font-size: 18px;
    font-family: var(--font-family);
    font-weight: 700;
    cursor: pointer;
}

.article-side__box a:hover{
    color: var(--Soft-orange);
}

.article-side__box p{
    color: var(--Grayish-blue);
    margin-top: 0rem;
    margin-bottom: 0rem;
    line-height: 23px;
}

hr{
    margin: 3rem 0 2rem 0;
}
/* number article grid styles */
.numerical__row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.numerical__row h3{
    color: var(--Grayish-blue);
    font-size: 32px;
    text-decoration: none;
}

.numerical__row a{
    color: var(--Very-dark-blue);
    font-size: 1rem;
    font-weight: 700;
    font-family: var(--font-family);
    cursor: pointer;
    position: relative;
    top: 0.5rem;
}

.numerical__row p{
    font-size: var(--paragraph);
    font-family: var(--font-family);
    color: var(--Dark-grayish-blue);
    position: relative;
    top: 0.9rem;
    line-height: 1.7rem;
}


.numerical__row a:hover{
    color: var(--Soft-red);
    font-family: var(--font-family);
    font-weight: 700;
}

.numerical__img{
    position: relative;
    left: 5rem;
    width: 6.3rem;
}
/* footer rows */

@media(max-width: 768px){

    .grid-container {
        padding: 0px 32px;
    }
    .grid-row{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 140px;
    }

    .web-3-img {
        width: 21.5rem;
        height: 18.8rem;
    }

    .future__box {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .menu{
        /* display: none; */
        background-color: var(--Off-white);
    }

    .icon-close{
        /* display: none; */
    }

    .icon-close.show{
        width: 16rem;
        display: block;
        position: relative;
        left: 5rem;
        z-index: 5;
    }

    .btn{
        display: inline-block;
        z-index: 5;
    }

    .numerical__row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .menu.show{
        /* display: block; */
        flex-direction: column;
        gap: 1rem;
        background-color: var(--Off-white);
        position: relative;
        top: 4rem;
        width: 16rem;
        height: 41.8rem;
        box-shadow: -72px -3px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -72px -3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -72px -3px 5px 0px rgba(0,0,0,0.75);
    }

    .icon-menu {
        display: block;
        z-index: 5;
    }

}